---
import WeeklyCalendarComponent from "../components/calendar/WeeklyCalendarComponent.svelte";
import '../styles/global.css';
---

<div class="h-screen w-full bg-[#050505] p-4 md:p-8 overflow-hidden flex flex-col">
    <WeeklyCalendarComponent client:load />
</div>